{%  extends 'userpage/userindex.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form method="post" action="/sent_review_user_POST"> {% csrf_token %}
<body>

<table class="table table-bordered">
    <tr>
        <td style="color: #fbfbff">
            Add Review
        </td>
        <td><input type="text" name="review" class="form-control" required="[a-z A-Z]+"></td>
        <tr>
    <td><input type="submit" class="btn btn-info" style="background-color: #91ed92"></td>
    </tr>

</table>

</body>
</form>
</html>
{% endblock %}