{% extends 'adminpage/adminindex.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/add_movie_admin_POST" enctype="multipart/form-data"> {% csrf_token %}
    <table class="table table-bordered">



        <tr>
            <td style="color: #f2f2ff">Title</td>
            <td><input type="text" name="title" class="form-control" required="[a-z A-Z]+"></td>
        </tr>
        <tr>
            <td style="color: #fdfeff">Description</td>
            <td><input type="text" name="description" class="form-control" required="[a-z A-Z]+"></td>
        </tr>
        <tr>
            <td style="color: #fbf8ff">Release_date</td>
            <td><input type="text" name="release_date" class="form-control" required="[a-z A-Z]+"></td>
        </tr>
        <tr>
            <td style="color: #fbfbff">Genres</td>
            <td><input type="text" name="genres" class="form-control" required="[a-z A-Z]+"></td>
        </tr>
        <tr>
            <td style="color: #fdfeff">Actors </td>
            <td><input type="text" name="actors" class="form-control" required="[a-z A-Z]+"></td>
        </tr>
        <tr>
            <td style="color: #fbf8ff">trailerlink</td>
            <td><input type="text" name="trailerlink" class="form-control" required="[a-z A-Z]+"></td>
        </tr>
        <tr>
            <td style="color: #f7f2ff">image</td>
            <td><input type="file" name="image" class="form-control" required="[a-z A-Z]+"></td>
        </tr>
        <tr>
            <td><input type="submit" class="btn btn-success"></td>
        </tr>
    </table>
</form>

</body>
</html>
{% endblock %}